<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
	<title>Edit page</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="../CSS/Css/style.css">
  <link rel="stylesheet" href="../CSS/Bootstrap/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div>
		<h1>Edit Info</h1> 		
	</div>

	<a href="/AdminHome/teacher"> Back to List</a> |
	<a href="/logout"> logout</a><br>

	<form method="post">
		<table>
			<tr>
				<td>Id</td>
				<td><input type="text" readonly name="id" value="<%=user.id%>"></td>
			</tr>
			<tr>
				<td>Full Name</td>
				<td><input type="text"  name="fullname" value="<%=user.fullname%>"></td>
			</tr>
			<tr>
				<td>Userid</td>
				<td><input type="text" name="userid" value="<%=user.userid%>"></td>
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" name="password" value="<%=user.password%>"></td>
			</tr>
			<tr>
				<td>Type :</td>
				<td><input type="text" name="type" value="<%=user.type%>"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Update"></td>
			</tr>
		</table>
	</form>
</body>
</html>