<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Data Table</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../CSS/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../CSS/Bootstrap/css/bootstrap.min.css">
<script src="../CSS/jquery.min.js"></script>
<script src="../CSS/Bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../CSS/Css/studenttable.css">
<script type="text/javascript" src="../CSS/admin.js"></script>
	<title>View Page</title>
</head>
<body>
	

	<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Student <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button onclick="window.location.href = '/AdminHome/insert2';" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <div class="col-sm-4">
                        <button onclick="window.location.href = '/AdminHome';" type="button" class="btn btn-info add-new"><i class="fa fa-home"></i> Admin Home</button>
                    </div>
                     <div class="col-sm-4">
                        <button onclick="window.location.href = '/logout';" type="button" class="btn btn-info add-new"><i class="fa fa-sign-out"></i> Log Out</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    	 <th>ID</th>
                        <th>Student Name</th>
                        <th>Student ID</th>
                        
                        <th>Password</th>
                         <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                	<% for(var i=0; i < userlist.length; i++){
                     if(userlist[i].type=='student'){ %>
		<tr>
            <td><%= userlist[i].id %></td>
			<td><%= userlist[i].fullname %></td>
			<td><%= userlist[i].userid %></td>
			<td><%= userlist[i].password %></td>
			<td><%= userlist[i].type %></td>
			<td>
				<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a href="/AdminHome/edit2/<%= userlist[i].id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="/AdminHome/delete2/<%= userlist[i].id %>" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
			</td>
		</tr>
		<%}
         } %>
                   
                </tbody>
            </table>
        </div>
    </div>  


      
</body>
</html>